@import 'variables.scss';

main {
  .main-content-wrapper {
    margin-top: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;

    .left-block {
      display: flex;
      flex-direction: column;
      padding-left: 50px;
      align-self: flex-start;

      h1 {
        color: $orange;
      }

      button {
        margin-right: 0;
        margin-left: auto;
        margin-top: 20px;
      }
    }

    .right-block {
      padding-right: 30px;

      img {
        width: 100%;
      }
    }
  }
}


@media only screen and (max-width: 414px) {
  main {
    .main-content-wrapper {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
  
      .left-block {
        padding-left: 16px;
        margin-right: 16px;
  
        button {
          margin-right: auto;
          margin-left: 0;
        }
      }
  
      .right-block {
        padding-right: 0px;
  
        img {
          width: 100%;
        }
      }
    }
  }
}